.caption{ 
    text-align: center;
    color: #777;
    font-size: 20px;
    margin-bottom: 20px !important;
}

.home-control {
    width: 320px !important;
}

.form-link {
    display: block;
    margin-top: 15px;
}