<div>
  <h4 style="padding: 30px 10px 20px 10px; border-bottom: 1px solid black;text-align: center">
    Unified Desktop (UD) - Support Issue
  </h4>
  <div>
    <div class="row-fluid create-request-form">
      <div class="pull-left">
        <div class="input-group pull-right">
          <input type="checkbox">
          Click here if creating for someone else
        </div>
      </div>
      <div class="pull-right">
        <div class="input-group pull-left">
          <input type="checkbox">Click here to add watcher(s)
        </div>
      </div>
    </div>
    <div class="align-middle">
      <div>
        <div>Reported by</div>
        <div>
          <div><span>ATTUID</span> <span>ms8737</span></div>
          <div><span>Name</span> <span>Mike Smith</span></div>
          <div><span>Phone</span> <span>(678) 917-0890</span></div>
        </div>
      </div>
      <div>
        <label>Summary:</label>
        <input type="text" placeholder="Please enter short description">
      </div>
      <div>
        <label>Request
          Description:
        </label>
        <textarea placeholder="Please provide more detail about your request"></textarea>
      </div>
      <div>
        <label>Attach File:</label>
        <input type="file">
      </div>
      <div>
        <input type="checkbox">Create Another Request For this application
        <button type="button">Create</button>
        <button type="button">Cancel</button>
      </div>
    </div>
  </div>
</div>