<nav class="bar navigationLinks navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <!--<div id="homeButton" class="btn-group btn-group-xs">
            <a href="home" id="home" type="button" class="btn btn-black">Home</a>
        </div>
        <div id="aboutButton" class="btn-group btn-group-xs">
            <a href="about" id="about" type="button" class="btn btn-black">About</a>
        </div>-->
        <div id="calButton" class="btn-group btn-group-xs floatRight">
            <a href="calender" id="calender" type="button" class="btn btn-black">Calender</a>
        </div>
        <div class="btn-group btn-group-xs displayInline floatRight">
            <a href="viewRequest" id="viewRequest" type="button" class="btn btn-black dropdown-toggle" data-toggle="dropdown">View Request |</a>    
            <ul class="dropdown-menu">
                <li><a href="about" title="About">About</a></li>
                <li><a href="contact" title="Contact">Contact</a></li>
            </ul>
        </div>
        <div class="btn-group btn-group-xs displayInline floatRight">
            <a href="createRequest" id="createRequest" type="button" class="btn btn-black dropdown-toggle" data-toggle="dropdown">Create Request |</a>    
            <ul class="dropdown-menu">
                <li><a href="about" title="About">About</a></li>
                <li><a href="contact" title="Contact">Contact</a></li>
            </ul>
        </div>
    </div> 
</nav>


