<div style="text-align: center;">
  <div style="margin-bottom: 20px;margin-top: 100px;">
    What type of request would you like to make?
  </div>
  <!--<select onChange="{{action 'createRequest'}}">-->
  <select style="width: 200px;">
    <option>Select request Type</option>
    <option>Support Issue</option>
    <option>Enhancement</option>
    <option>User Testing(UAT)</option>
  </select>
</div>