{{!-- <header id="header" style="background-color:#595959">
  <div class="inner">
    <nav id="nav">
      <a href="index.html">Create Request</a>
      <a href="generic.html">View Requests</a>
      <a href="elements.html">Calendar</a>
    </nav>
    <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
  </div>
</header> --}}
{{!-- <header id="fh5co-header" role="banner">
  <div class="container" style="overflow: hidden">
    <!-- Logo -->
    <div id="fh5co-logo pull-left" style="display: inline;float:left;">
      <img src="assets/image/logo.gif" alt="Work Logo">
    </div>
    <div id="fh5co-main-nav pull-right">
      <img src="assets/image/logo2.png" width="82" height="54" style="float:right">
    </div>
  </div>
</header> --}}
<!--<header>
  <div class="inner">
    <img src="/assets/image/piechart.png" class="piechart">
    <img src="/assets/image/tiles.png" class="tiles">
    <img src="/assets/image/tile.png" class="tile">
  </div>
</header>-->
{{!--{{#if model}}--}}
{{!-- 
<section id="three" class="wrapper align-center">
  <div class="inner">
  {{#link-to "home" }}<img src="/bart/assets/image/right-side.png" alt="logo">{{/link-to}}
  </div>
</section>
 --}}

<div class="table-header" class="hidden">
    <div class="filter-container">
      <input name="" type="text" style="color:#000;">
      <img src="/bart/assets/image/search.gif">
    </div>
    <div class="table-action">
      {{#link-to statusdetail-export}}<img src="/bart/assets/image/export.gif">{{/link-to}}
    </div>
 </div>
{{outlet}}


  
{{!--{{else}}
  <div> No data found.</div>
{{/if}}--}}